<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <title style=padding-left:5px;>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/python/cpython/main/PC/icons/python.ico">
  </head>
  <!---------- Base contains html that is imported into each page (like title and nav) ---------->
  <body>
    <!-- Styles -->
    <style>
      .fa {color: gold;}
      .wrapper {padding-left:5px;}
      
      /* colors for flash messages */
      .error{
        background-color:red;
      }

      .success{
        background-color:green;
      }

      .warning{
        background-color:yellow;
      }

    </style>
    <!-- Title -->
  <h1 style=padding-left:5px;>{{title}}</h1>
    
    <!-- Nav -->
    <nav class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
      <a href="/hipster" class="w3-bar-item w3-button">Hipster</a>
      <a href="/coffee" class="w3-bar-item w3-button">Coffee</a>
      <a href="/movies" class="w3-bar-item w3-button">Movies</a>
      <a href="/register" class="w3-bar-item w3-button">Register</a>
      <a href="/users" class="w3-bar-item w3-button">Users</a>
      <a href="/recipes" class="w3-bar-item w3-button">Recipes</a>
      <a href="/sign_up" class="w3-bar-item w3-button">Sign Up</a>
      {% if current_user.is_authenticated %}
        <a href="/logout" class="w3-bar-item w3-button">Logout</a>
      {% else %}
        <a href="/login" class="w3-bar-item w3-button">Login</a>
      {% endif %}
      <a href="/admin/" class="w3-bar-item w3-button">Admin</a>
    </nav>

  <!-- Reminder to logout -->
    {% if current_user.is_authenticated %}
      <p><em>Chef <b>{{ current_user.first_name }}</b> is logged in.  Don't forget to <a href="/logout">Logout</a>!</em></p>
    {% endif %}


    <!---------- webpage content will live inside the below div ---------->
  <div class="wrapper">
    <!------ Applies error in add_recipe ------>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category != 'message' %}
          <div class="w3-panel {{ category }}" style="max-width:500px; position:relative">
            <span onclick="this.parentElement.style.display='none'"
          class="w3-button w3-large w3-display-topright">&times;</span>
            <h3>{{ category.title() }}</h3>
            <p>{{ message }}</p>
          </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}
  </div>