<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <title style=padding-left:5px;>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/python/cpython/main/PC/icons/python.ico">
  </head>
  <!---------- Base contains html that is imported into each page (like title and nav) ---------->
  <body>
    <!-- Styles -->
    <style>
      .fa {color: gold;}
      .wrapper {padding-left:5px;}
    </style>
    <!-- Title -->
  <h1 style=padding-left:5px;>{{title}}</h1>
    
    <!-- Nav -->
    <div class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
      <a href="/hipster" class="w3-bar-item w3-button">Hipster</a>
      <a href="/coffee" class="w3-bar-item w3-button">Coffee</a>
      <a href="/movies" class="w3-bar-item w3-button">Movies</a>
      <a href="/register" class="w3-bar-item w3-button">Register</a>
      <a href="/users" class="w3-bar-item w3-button">Users</a>
      <a href="/recipes" class="w3-bar-item w3-button">Recipes</a>
      <a href="/admin/" class="w3-bar-item w3-button">Admin</a>
    </div>

    <!---------- webpage content will live inside the below div ---------->
  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>