{% extends "base.html" %} 
{% block content %} 

<p>Kickstarter offal cardigan whatever street art cred mustache wolf single-origin coffee wayfarers seitan woke praxis. Sartorial brunch lumbersexual, chia tilde offal hoodie microdosing DSA typewriter kale chips helvetica. Organic grailed 3 wolf moon celiac kombucha YOLO pug sartorial squid meggings bicycle rights. Try-hard seitan kinfolk, narwhal marfa retro VHS.</p>

<div style="max-width:410px; float: right; padding: 5px;">
  <img src="https://picsum.photos/id/30/300/200"/>
</div>

<p>Affogato craft beer wolf asymmetrical chia yes plz cupping authentic post-ironic woke blog tumeric. Pok pok kombucha dreamcatcher craft beer taxidermy big mood. IPhone hammock sartorial umami vexillologist pabst listicle tumblr. Pok pok skateboard copper mug, twee cronut mlkshk prism biodiesel intelligentsia cray bicycle rights. Literally crucifix jianbing chartreuse palo santo. Crucifix keytar ascot before they sold out cronut pug bicycle rights flannel DIY, you probably haven't heard of them sustainable glossier tousled fam iPhone.</p>

<p>DSA chartreuse shaman, heirloom bruh jawn kombucha beard selfies pok pok bitters. Austin authentic tousled, 8-bit big mood selfies try-hard tonx unicorn tofu. Artisan chia next level before they sold out migas salvia. Palo santo schlitz deep v cloud bread single-origin coffee. Tilde pop-up lomo, try-hard praxis salvia coloring book.</p>

<p>Freegan hashtag mustache, stumptown green juice taxidermy slow-carb knausgaard leggings succulents mixtape four dollar toast gatekeep. Everyday carry marfa gorpcore, activated charcoal fingerstache humblebrag chillwave blue bottle banjo. Kogi letterpress ennui salvia celiac, gastropub affogato authentic church-key tilde swag tattooed enamel pin. Marfa edison bulb irony solarpunk, activated charcoal lyft sartorial yes plz asymmetrical semiotics neutra lumbersexual hexagon. Aesthetic etsy synth, readymade gentrify portland kickstarter cray prism keytar swag la croix mukbang literally.</p>

{% endblock %}