<!--templates/edit_recipe.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Edit Recipe</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}<br> 
    {{ form.name(size=32) }}<br>
    {{ form.description.label }}<br> 
    {{ form.description(rows=4, cols=32) }}<br>
    {{ form.ingredients.label }}<br> 
    {{ form.ingredients(rows=4, cols=32) }}<br>
    {{ form.instructions.label }}<br> 
    {{ form.instructions(rows=4, cols=32) }}<br>
    {{ form.category_id.label }}<br> 
    {{ form.category_id() }}<br>
    {{ form.rating.label }}<br> {{ form.rating() }}<br>
    <input type="submit" value="Update Recipe">
  </form>
{% endblock %}
