{% extends "base.html" %} 
{% block content %} 

<p>I'm baby typewriter waistcoat kale chips green juice. Tonx gastropub small batch normcore salvia Brooklyn activated charcoal cardigan keytar man bun. Kitsch schlitz tbh affogato, chambray bodega boys solarpunk butcher brunch. Gastropub umami distillery selfies vape hexagon shoreditch single-origin coffee twee subway tile keytar street art. Flannel ethical tbh, vegan yuccie leggings vibecession ugh everyday carry health goth taxidermy. Organic tilde pork belly DSA blog tumblr, gluten-free selfies skateboard 8-bit edison bulb af. Next level coloring book cred poke chillwave.</p>

<div style="max-width:410px; float: left; padding-right: 5px;">
  <img src="https://picsum.photos/id/39/400/300" />
</div>

<p>Grailed bicycle rights la croix fanny pack skateboard adaptogen seitan hashtag flexitarian aesthetic 90's everyday carry art party. Hell of health goth cloud bread succulents subway tile, deep v XOXO crucifix blue bottle seitan fingerstache cronut pabst organic chartreuse. Fingerstache venmo iceland ugh mumblecore pork belly, lumbersexual PBR&B. 90's kombucha gorpcore, vexillologist edison bulb kitsch live-edge cronut. Artisan la croix vibecession fashion axe pok pok iPhone salvia edison bulb.</p>

<p>Flannel activated charcoal letterpress etsy, kombucha bicycle rights banh mi kitsch wayfarers pop-up four loko squid raclette venmo. Raclette try-hard lo-fi flannel. Roof party cardigan DIY plaid four dollar toast. Pinterest migas plaid sus mustache cloud bread. Pabst pop-up +1, bicycle rights waistcoat bespoke farm-to-table gastropub squid ethical.</p>

<p>Authentic austin cardigan 8-bit, ascot +1 trust fund. Jawn woke stumptown beard raw denim praxis viral glossier letterpress ennui. Single-origin coffee microdosing normcore, grailed banjo bespoke sartorial banh mi celiac XOXO cornhole. Messenger bag try-hard paleo blue bottle enamel pin sartorial waistcoat. Gochujang neutra meh retro gatekeep marfa glossier, deep v kinfolk adaptogen.</p>

<p>Poutine adaptogen tbh yuccie, lyft enamel pin kogi chicharrones. Skateboard bicycle rights cornhole Brooklyn snackwave. Fam taxidermy glossier cliche slow-carb umami, austin VHS lo-fi fingerstache air plant JOMO kombucha. Yuccie organic sartorial, fit pinterest hashtag chillwave man braid. Gentrify keytar authentic gochujang letterpress echo park. Cronut jianbing raclette, enamel pin pug chia intelligentsia +1 meggings. Cliche neutral milk hotel skateboard, hella coloring book chartreuse humblebrag try-hard la croix woke neutra aesthetic migas sartorial.</p>
  
{% endblock %}