<!-- templates/sign_up.html -->

{% extends 'base.html' %}
{% block content %}
    <h3>S'il vous plait enregistrez vous</h3>
<p>If you'd like to add, edit or delete recipes, please sign up below.</p>
<p>Don't forget to write down your password, as it will be unrecoverable.</p>
<p>bon appetit!</p>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label }}:<br>{{ form.first_name }}
        </div>
      <br>
        <div>
            {{ form.last_name.label }}:<br>{{ form.last_name }}
        </div>
      <br>
        <div>
            {{ form.email.label }}:<br>{{ form.email }}
        </div>
      <br>
        <div>
            {{ form.password.label }}:<br>{{ form.password }}
        </div>
      <br>
        <div>
            {{ form.confirm_password.label }}:<br>{{ form.confirm_password }}
        </div>
      <br>
        <button type="submit">Register</button>
    </form>

{% endblock %}