{% extends "base.html" %} 
{% block content %} 

        <p>Users</p> 

 <table class="w3-table-all w3-hoverable">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Email</th>
  </tr>

{% for user in users %}
   
  <tr>
    <td><a href="user/{{ user.id }}">{{ user.last_name }}</a></td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.email }}</td>
  </tr>

   {% endfor %}
   
  <tr>
   <td>Jane</td>
   <td>Doe</td>
   <td>jane@example.com</td>
  </tr>
  <tr>
    <td>Judy</td>
    <td>Doe</td>
    <td>judy@example.com</td>
  </tr>
</table>


{% endblock %}